<!DOCTYPE html>
<html>
<th:block th:replace="fragments/head.html :: head(subTitle='메일관리')"></th:block>
<body>
<th:block th:replace="fragments/navbar.html
			:: navbar(account='inactive', mail='active')"></th:block>
<div class="container">
    <button type="button" class="btn btn-secondary" style="margin-top: 10px" onclick="location.reload()">새로고침</button>
    <table class="table">
        <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">수신자ID</th>
            <th scope="col">수신자주소</th>
            <th scope="col">제목</th>
            <th scope="col">태그1</th>
            <th scope="col">태그2</th>
            <th scope="col">전송일시</th>
            <th scope="col">내용확인</th>
        </tr>
        </thead>
        <tbody id="mail-list">
        <tr th:each="mail : ${mailList}" th:id ="${#strings.concat('mail-', mail.id)}">
            <td class="mailId" th:text="${mail.id}" th:value="${mail.id}"></td>
            <td class="receiverId" th:text="${mail.receiver.userId}" th:value="${mail.receiver.userId}"></td>
            <td class="receiverMailAddress" th:text="${mail.receiver.mailAddress}" th:value="${mail.receiver.mailAddress}"></td>
            <td class="title" th:text="${mail.title}" th:value="${mail.title}"></td>
            <td class="tag1" th:text="${mail.tag1}" th:value="${mail.tag1}"></td>
            <td class="tag2" th:text="${mail.tag2}" th:value="${mail.tag2}"></td>
            <td class="createTime" th:text="${#temporals.format(mail.createTime, 'yyyy-MM-dd HH:mm:ss')}" th:value="${mail.createTime}"></td>
            <td>
                <button class="btn btn-primary" th:onClick="location.href='/admin/page/mail/' + [[${mail.id}]]">상세보기</button>
            </td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>